:root {
    --bg1: #000428;
    --bg2: #004e92;
    --color1: #000428;
}

html {
    margin-left: 200px;
}
body {
    background-image: linear-gradient(to right, #000428, #004e92);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Lato", sans-serif;
    color: white;
    //font-size: 120% !important;
}
header {
    text-align: center;
}
h1 {
    color: whitesmoke;
}
a {
    color: inherit;
    text-decoration: inherit;
}

.noscript {
    width: 100%;
    background-color: #111;
    padding-top: 1px;
    padding-bottom: 25px;

    p, a {
        margin-left: 20px;
    }
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav a {
    width: auto; height: 50px;
    padding: 16px 1px 1px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #8a8a8a;
    display: block;
    transition-duration: 0.2s;

    &.bottom {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 183px;
    }
    @media screen and (max-height: 750px){
        &.bottom {
            position: relative;
            top: 20vh;
        }
    }
    &:hover {
        background-color: rgb(75, 75, 75);
    }
    &.active {
        background-color: rgb(75, 75, 75);
    }
}


.profile {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(26, 26, 26);

    p {
        text-align: center;
        height: 0px;
    }
}
.avatar {
    width: 75px; height: 75px;
    margin-left: 60px;
    border-radius: 50%;
}

@media screen and (max-height: 450px) {
.profile {
    padding-top: 15px;
}
.sidenav a {
    font-size: 16px;
}
}

img.logo_img {
    height: 100px; width: 100px;
    margin-top: 15%;
}
form.login_form {
    height: 500px; width: 300px;
    margin-left: auto; margin-right: auto;
}
label.login_label {
    font-size: 26;
    color: #ffffff;
    font-weight: 600;
}
input.login_input {
    height: 30px; width: 300px;
    background-color: transparent;
    font-weight: 600;
    color: white;
    border-style: none;
    border-collapse: unset;
    outline: none;

    border-bottom: 2px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #4976FF !important;

    &:hover {
        border-bottom-color: #0078D7 !important;
    }
}
button.login_button {
    height: 30px; width: 140px;
    
    background-color: #0078D7;
    border-style: none;
    border-collapse: unset;
    outline: none;

    &:hover {
        background-color: #0088f7;
    }
}

// PANEL.PHP

.panel {
    width: 80vw; height: 100%;
    margin-left: auto; margin-right: auto;
    padding: 20px;
    
    .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8 {
        display: inline-block;
        height: 410px; width: 350px;
        margin: 10px;
        background-color: #111;
        vertical-align: middle;
        border-radius: 10px;
    }
    * p {
        margin-left: 20px;
    }
    .p1 img {
        width: 100px; height: 100px;
    }
}

h3 {
    text-align: center;
}
.graph {
    background-color: #0078D7;
    width: 200px; height: 200px;
    border-radius: 50%;
    margin-left: auto; margin-right: auto;
}

.profile_button {
    top: 180px;
    position: relative;
    left: 50%;
    transform: translateX(-60%);
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    background-color: #8a8a8a;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
        background-color: #4b4b4b;
    }
}

// GRADES.PHP

.grades, .settings_header {
    margin-top: 0;
    padding: 20px;
    background-color: #111;
    text-align: center;
}
.grades_table, .grades_table th, .grades_table td {
    height: 70vh; width: 80vw;
    margin-top: 50px;
    margin-left: auto; margin-right: auto;
    border-collapse: collapse;

    th, td {
        height: 50px;
        padding: 5px;
        padding-left: 10px;
        text-align: left;
        background-color: rgba(17, 17, 17, 0.3);
    }
}

.table_top th, .table_top td {
    background-color: #111;
}
.grades_table tr:nth-child(even){
    background-color: rgba(17, 17, 17, 0.8);
}

.grade_info {
    position: absolute;
    width: 250px;
    padding: 10px;
    background-color: #111;

    border-radius: 5px;
}

// attendance.php

.attendance {
    width: 80vw; height: 80vh;
    margin-top: 50px;
    border-style: none;
    border-collapse: collapse;

    .day {
        background-color: #111;
    }
    tr:nth-child(even){
        background-color: rgba(17, 17, 17, 0.7);
    }
    tr td {
        border-style: none;
        border-collapse: collapse;
        background-color: rgba(17, 17, 17, 0.3);
    }
}

// exams.php

.exams, .homework, .comments, .events {
    width: 80vw; height: 40vh;
    margin-top: 20px;
    margin-bottom: 50px;
    border-style: none;
    border-collapse: collapse;

    .day {
        background-color: #111;
    }
    tr:nth-child(even){
        background-color: rgba(17, 17, 17, 0.7);
    }
    tr td {
        border-style: none;
        border-collapse: collapse;
        background-color: rgba(17, 17, 17, 0.3);
    }
}

.exam {
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 10px;
    width: 140px;
    height: 30px;
    background-color: #0088f7;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover{
        background-color: #004e92;
    }
}

.exam_holder, .comments_holder {
    text-align: center;
}

.exam_button, .comments_button {
    display: inline-block;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 10px;
    width: 140px;
    height: 30px;
    background-color: #0088f7;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover{
        background-color: #004e92;
    }
}

.examinfo {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 300px;
    text-align: center;

    .subject {
        float: left;
        width: 60%;
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #111;
        margin: 0;
    }
    .otherinfo {
        float: left;
        width: 60%;
        height: 220px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        background-color: rgba(17, 17, 17, 0.7);
    }
    .references {
        float: left;
        margin-top: -60px;
        height: 100%;
        width: 40%;
        background-color: rgba(17, 17, 17, 0.7);
    }
}

// topics.php

.topics, .comments {
    width: 80vw; height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: none;
    border-collapse: collapse;

    .day {
        background-color: #111;
    }
    tr:nth-child(even){
        background-color: rgba(17, 17, 17, 0.7);
    }
    tr td {
        border-style: none;
        border-collapse: collapse;
        background-color: rgba(17, 17, 17, 0.3);
    }
}

// events.php

.events {
    margin-top: 50px !important;
}

// comments.php

.comments {
    margin-top: 20px !important;
}

// meetings.php

.meetinfo { // PAMIĘTAĆ O ZMIENAIE TEGO
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 150px;
    text-align: center;

    .subject {
        height: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #111;
        margin: 0;
    }
    .otherinfo {
        height: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        background-color: rgba(17, 17, 17, 0.7);
    }
}

// settings.php

.settings {
    .p1, .p2, .p3, .p4, .p5, .p6, .p7 {
        width: 90%;
        height: 120px;
        margin-left: auto; margin-right: auto;
        
        border: #ffffff;
        border-bottom-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: space-between;

        .settings_label {
            padding-top: 40px;
            margin-left: 20px;

            .title {
                font-size: 20px;
            }
        }
        .settings_setup {
            padding-top: 45px;
            margin-right: 20px;
        }
        
        .font_button {
            padding: 5px;
            display: inline-block;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .contrast_button {
            display: inline-block;
            padding: 5px;
            border-style: solid;
            border-width: 1px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
        .split {
            margin-top: 20px;
            height: 40px;
            width: 1px;
            background-color: white;
            display: inline-block;
        }
        .normal {
            margin-left: 30px;
        }
        .contrast {
            color: #ffff15;
            background-color: black;
        }

        p {
            margin: 0;
        }
    }
}

.settings_header {
    margin-bottom: 0px ;
}

.theme_box {
    margin-top: -5px;
    width: 35px;
    height: 35px;
    border-color: #111;
    border-radius: 5px;
    border-style: solid;
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

.theme1 {
    background: #73c8a9;
    background: -webkit-linear-gradient(to right, #73c8a9, #373b44);
    background: linear-gradient(to right, #73c8a9, #373b44);
}
.theme2 {
    background: #83a4d4;
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  
    background: linear-gradient(to right, #b6fbff, #83a4d4);
}
.theme3 {
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
}
.theme4 {
    background: #556270;
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);
    background: linear-gradient(to right, #FF6B6B, #556270);
}
.theme5 {
    background: #9D50BB;
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);
    background: linear-gradient(to right, #6E48AA, #9D50BB);
}
.theme6 {
    background: #B3FFAB;
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);
    background: linear-gradient(to right, #12FFF7, #B3FFAB);
}
.theme7 {
    background: #e52d27;
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);
    background: linear-gradient(to right, #b31217, #e52d27);

}
.theme8 {
    background: #F0C27B;
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);
    background: linear-gradient(to right, #4B1248, #F0C27B);
}
.theme9 {
    background: #FF4E50;
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    background: linear-gradient(to right, #F9D423, #FF4E50);
}
.theme10 {
    background: #ADD100;
    background: -webkit-linear-gradient(to right, #7B920A, #ADD100);
    background: linear-gradient(to right, #7B920A, #ADD100);
}
.theme11 {
    background: #FBD3E9;
    background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);
    background: linear-gradient(to right, #BB377D, #FBD3E9);
}
.theme12 {
    background: #606c88;
    background: -webkit-linear-gradient(to left, #3f4c6b, #606c88);
    background: linear-gradient(to left, #3f4c6b, #606c88);
}
.theme13 {
    background: #00d2ff;
    background: -webkit-linear-gradient(to left, #3a7bd5, #00d2ff);
    background: linear-gradient(to left, #3a7bd5, #00d2ff);
}
.theme14 {
    background: #004e92;
    background: -webkit-linear-gradient(to right, #000428, #004e92);
    background: linear-gradient(to right, #000428, #004e92);
}